*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Estilos generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; /* Gris claro */
    color: #333; /* Texto negro */
}

header {
    background-color: white; 
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: auto;
    max-width: 60px; /* Ancho máximo del logotipo */
    border-radius: 60px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 3px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
    padding: 3px 15px;
    border-radius: 15px;
    transition: all .3s linear;
}

nav ul li a.active, nav ul li a:hover{
    box-shadow: 0 0 0 2px #752fe6;
    color: #752fe6;
}

/* Estilos para la sección de banner */
section.banner {
    background: linear-gradient(to bottom, #fff, #f2f2f2); /* Fondo degradado de blanco a gris claro */
    color: #333; /* Texto negro */
    padding: 100px 5%;
    /* text-align: center; */
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;
}
section.banner .content{
    position: relative;
    width: 50%;
    z-index: 1;
}
section.banner h2 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bold; /* Texto en negrita */
}

section.banner p {
    font-size: 18px;
    margin-bottom: 40px;
    font-style: italic; /* Texto en cursiva */
}

/* Estilos para el emoji */
section.banner p span {
    font-size: 24px; /* Tamaño del emoji */
}
section.banner .img-baner{
    width: 40%;
    position: relative;
    /* top: 20px;
    right: 5%; */
    
}
section.banner .img-baner img{
    position: relative;
    border-radius: 20px;
}
section.banner .img-baner::before{
    content: "";
    position: absolute;
    top: -10%;
    left: 10%;
    background: #752fe64f;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    /* z-index: -1; */
}

/* Estilos para el botón de contacto */
.banner-button {
    display: inline-block;
    /* background: #752fe6; */
    background: linear-gradient(to left,#310080,#8032ff);
    color: #fff; /* Texto blanco */
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px; /* Botón redondeado */
    font-size: 20px;
    transition: all .3s linear;
}

.banner-button:hover {
    opacity: .6;
    transform: scale(.9);
}

/* Estilos para las secciones (Inicio, Portafolio, Nosotros, Contacto) */
section {
    padding: 20px;
}

/* Estilos para la sección de Portafolio en index.html */
section#portafolio {
    background: rgb(205, 191, 228);
    padding: 50px 0;
    text-align: center;
}

section#portafolio h2 {
    font-size: 32px;
    margin-bottom: 40px;
    color: #333;
}

.portfolio-slider {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px; /* Espacio entre el carrusel y el botón */
}

.portfolio-item {
    background-color: #f9f9f9; /* Fondo gris claro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 300px;
}

.portfolio-item img {
    max-width: 150px; /* Ancho máximo de la imagen */
    height: auto;
    border-radius: 10px; /* Bordes redondeados */
}

.portfolio-item h3 {
    font-size: 20px;
    margin-top: 10px;
    color: #333; /* Texto negro */
    position: relative;
    padding-top: 20px;
}

.portfolio-item p {
    font-size: 16px;
    margin-top: 10px;
    color: #333; /* Texto negro */
}

.view-more-button {
    background-color: white; /* Morado */
    color: #752fe6; /* Texto blanco */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none; /* decoración de enlace */
    margin: 0 auto; /* Centrar horizontalmente el botón */
    margin-top: 20px;
    display: inline-block;
    transition: all .3s linear;
}

.view-more-button:hover {
    opacity: .8;
}



/* Estilos para la sección de Nosotros */
section#nosotros {
    background-color: #f2f2f2; /* Fondo gris claro */
    padding: 50px 5%;
    text-align: center;
    display: flex;
    position: relative;
    overflow-x: hidden;
}
section#nosotros .img-about{
    width: 50%;
}
section#nosotros .img-about img{
    border-radius: 30px;
    width: 80%;
}
section#nosotros .img-about::before{
    content: "";
    height: 150px;
    width: 150px;
    background: #6911f786;
    top: 5%;
    left: 5%;
    position: absolute;
    border-radius: 50%;
}
section#nosotros .content{
    width: 50%;
}
section#nosotros h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #752fe6; /* Morado */
}

section#nosotros p {
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    color: #333; /* Texto negro */
}

/* Estilos para la sección de Contacto */
section#contacto {
    background-color: #fff; /* Fondo blanco */
    padding: 50px 0;
    text-align: center;
}

section#contacto h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #752fe6; /* Morado */
}

section#contacto p {
    font-size: 18px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: #333; /* Texto negro */
}

section#contacto ul {
    list-style: none;
    padding: 0;
}

section#contacto li {
    font-size: 16px;
    margin-top: 10px;
    color: #666; /* Texto gris */
}

/* Estilos para el pie de página */
footer {
    background-color: #333; /* Fondo gris oscuro */
    color: #fff; /* Texto blanco */
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 14px;
    margin: 0;
}

/* Estilos para el enlace de Inicio en el footer */
footer a {
    color: #752fe6; /* Morado */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

footer a:hover {
    color: #e2a40d; /* Amarillo dorado al pasar el mouse */
}

/* Estilos para los botones de sección en index.html */
.section-button {
    background-color: #752fe6; /* Morado */
    color: #fff; /* Texto blanco */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none; /* Quitar la decoración de enlace */
    margin-top: 20px; /* Espacio superior */
    display: inline-block;
    transition: background-color 0.3s;
}

.section-button:hover {
    background-color: #e2a40d; /* Amarillo dorado al pasar el mouse */
}



/* Estilos para hacer el sitio responsive */
@media screen and (max-width: 768px) {
    header {
        padding: 10px; /* Reduce el espacio del encabezado en pantallas pequeñas */
    }

    nav ul li {
        margin-right: 10px; /* Reduce el espacio entre elementos de navegación en pantallas pequeñas */
    }

    section.banner {
        padding: 80px 0; /* Reduce el espacio del banner en pantallas pequeñas */
    }

    section.banner h2 {
        font-size: 24px; /* Reduce el tamaño del título del banner en pantallas pequeñas */
    }

    section.banner p {
        font-size: 16px; /* Reduce el tamaño del texto del banner en pantallas pequeñas */
    }

    section {
        padding: 10px; /* Reduce el espacio de las secciones en pantallas pequeñas */
    }

    footer {
        padding: 10px 0; /* Reduce el espacio del footer en pantallas pequeñas */
    }

    footer p {
        font-size: 12px; /* Reduce el tamaño del texto del footer en pantallas pequeñas */
    }
}
